.Principal{
    border: solid 2px red;
    height: 80vh;
    display: flex;
    justify-content: center;
    h2{
        font-size: medium;
    }
    form{
        border: solid 2px #005695;
        height: 50vh;
        width: 40vh;
        border-radius: 15px;
    }
} 
input:nth-child(6){
    width: 10vw;
    height: 6vh;
    padding-left: 0;
    background-color: rgba(0, 86, 149, 1);
    color: white;
    cursor: pointer;
    font-size: 18px;
}