
.social{
    background-color: #005695;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    h3{
        color: white;
        font-size: 20px;
    }
    nav{
        width: 18vw;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
}
.rodape{
    background-color: #232020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

@media(max-width: 1025px){
    .social{
        nav{
            width: 35vh;
        }
    }
}
@media(max-width: 425px){
    .social{
        flex-direction: column;
        height: 12vh;
        nav{

        }
    }
    .rodape{
        height: 10vh;
        align-items: center;
        text-align: center;
        p{
            width: 54vh;
        }
    }
}