.boxDoados{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    margin-bottom: 20px;
    h2{
        height: 100px;
        display: flex;
        align-items: center;
    }
    
}
.boxCard{
    width: 85vw;
    display: flex;
    min-height: 60vh;
    flex-wrap: wrap;
    gap : 10px;
    justify-content: space-evenly;
    article{
        margin-top: 10px;
        border: solid 2px #005695;
        width: 230px;
        height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
        img{
            width: 30%;
        }
    }
}
