.boxDoados{
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.boxCard{
    width: 85vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    article{
        margin-top: 10px;
        border: solid 2px #005695;
        width: 190px;
        height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
    }
}
